.buy-card {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(236, 8, 8, 0.3);
    text-align: center;
    display: inline-block;
    transition: 0.3s;
  }
  
  .buy-card:hover {
    box-shadow: 0 0 20px rgba(238, 33, 2, 0.7);
    transform: scale(1.1);
    transition: 0.3s;
  }

  .sell-card {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(45, 7, 195, 0.3);
    text-align: center;
    display: inline-block;
    transition: 0.3s;
  }
  
  .sell-card:hover {
    box-shadow: 0 0 20px rgba(31, 7, 218, 0.7);
    transform: scale(1.1);
    transition: 0.3s;
  }

  .container{
    display: flex;
    justify-content: space-evenly;
  }
  

  
 


